# This should be included in mpconfigboard.mk

# Application files (frozen) built into firmware.
FROZEN_MANIFEST = $(BOARD_DIR)/manifest.py

[% if use_mboot %]
# Compile the application with support / space for bootloader
USE_MBOOT = 1

# USB identifiers are left at the port defaults; mboot enumerates as a
# standard ST DFU device (0x0483:0xDF11).

ifeq ($(BUILDING_MBOOT),1)
# Compile mboot version footer
OBJ += $(BUILD)/$(BOARD_DIR)/mboot_footer.o

$(BUILD)/$(BOARD_DIR)/mboot_footer.o: | $(BUILD)/genhdr/mpversion.h
MBOOT_LD_FILES ?= stm32_memory.ld $(BOARD_DIR)/mboot_footer.ld stm32_sections.ld

# rename mboot fw_footer section to text to ensure it's included in bin/dfu files
.PHONY: fw_footer_section
fw_footer_section: $(BUILD)/firmware.elf
	$(Q)$(OBJCOPY) --rename-section .fw_footer=.text $^ $(BUILD)/firmware.1.elf
	@mv $(BUILD)/firmware.1.elf $^

$(BUILD)/firmware.dfu: | fw_footer_section

endif
[%endif%]
